body {
    background-color: #e0ecf8;
    text-align: center;
    transition: 1s;
    opacity: 0;
    font-size: 15px;
}
#mainBox {
    width: 470px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-height: 463px) {
    #mainBox {
        top: 4px;
        transform: translate(-50%, 0%);
    }
}
#projects {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 55px;
    grid-template-areas:
    "hangman hangmanText"
    "grid gridText"
    "gem gemText"
    "sql sqlText"
    ;
    background-color: white;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    border: 2px outset white;
    grid-gap: 10px;
}
@media (max-width: 940px) {
    #mainBox {
        width: 470px;
    }
}
@media (max-width: 470px) {
    #mainBox {
        width: 90%;
    }
    @media (max-height: 463px) {
        #mainBox {
            top: 6px;
            transform: translate(-50%, 0%);
        }
    }
    #projects .projectText {
        font-size: 12px;
        margin: 0px;
    }
}
#projects h3 {
    font-weight: normal;
}
.projectName {
    text-align: left;
    cursor: pointer;
    width: 100%;
}
#projects .projectText:hover {
    text-decoration: underline;
    cursor: pointer;
}
#goBack {
    font-size: 15px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px;
}
#goBack:hover {
    background-color: white;
    transition: 0.3s;
}