<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="courses.css">
    </head>
    <body>
        <div id="mainBox">
            <div id="title">
                <h1>Courses</h1>
                <p id="desc">&nbsp;</p>
            </div>
            <div id="courses">
                <h3 class="courseName" id="webDev2" onclick="webDev2()">[COMP 2537] Web Development 2</h3><h3 id="webDev2Grade">92%</h3>
                <h3 class="courseName" id="webDev1" onclick="webDev1()">[COMP 1537] Web Development 1</h3><h3 id="webDev1Grade">95%</h3>
                <h3 class="courseName" id="projects2" onclick="projects2()">[COMP 2800] Web App Projects 2</h3><h3 id="projects2Grade">95%</h3>
                <h3 class="courseName" id="projects1" onclick="projects1()">[COMP 1800] Web App Projects 1</h3><h3 id="projects1Grade">97%</h3>
                <h3 class="courseName" id="bizComm2" onclick="bizComm2()">[COMM 2216] Business Communications 2</h3><h3 id="bizComm2Grade">90%</h3>
                <h3 class="courseName" id="java1" onclick="java1()">[COMP 1510] Intro Java Programming</h3><h3 id="java1Grade">87%</h3>
                <h3 class="courseName" id="sql" onclick="sql()">[COMP 1630] Relational Database & SQL</h3><h3 id="sqlGrade">90%</h3>
                <h3 class="courseName" id="appMath" onclick="appMath()">[COMP 1113] Applied Mathematics</h3><h3 id="appMathGrade">93%</h3>
            </div>
            <button id="goBack" onclick="goBack()">Back</button>
        </div>

        <script src="courses.js"></script>
    </body>
</html>